{% load staticfiles %}
{% load i18n %}
<div style="background-color: #ffffcc">
    <h3><a href="/trip/{{ trip.id }}">{{ trip }}</a></h3>

    {% if showTripUser and trip.user.id != request.user.id %}
        <div>
            {% include "user/abstract.html" with user=trip.user only%}
        </div>
    {% endif %}
    <ul>
        <li>{% trans "Start" %}: {{ trip.city_start }}</li>
        <li>{% trans "Destination" %}: {{ trip.city_end }}</li>
        <li>{% trans "Description" %}: {{ trip.comment|truncatechars:100 }}</li>
        <li>{% trans "TripItems" %}:
            <ul>
                {% for item in trip.items %}  
                    {% if showExtendedTripItems %}
                        <li>{% include "tripItem/item.html" %}</li>
                    {% else %}                  
                        <li>{% include "tripItem/abstract.html" %}</li>
                    {% endif %}
                {% empty %}
                    {% trans "EmptyItems" %}
                {% endfor %}
            </ul>
        </li>{{  trip }}
        {% if request.user.is_authenticated %}
            {% if trip.user.id == request.user.id %}
                <li><a href="{% url 'trip_delete' pTripId=trip.id %}">{% trans "DeleteTrip" %}</a> | <a href="/trip/update/{{ trip.id }}">{% trans "UpdateTrip" %}</a></li>
            {% else %}
                <li>
                {% if trip.currentUserHasOrder%}
                    <a href="{% url 'order_delete' pOrderId=trip.currentUserOrder.id %}">{% trans "CancelOrder" %}</a>
                {% else %}
                    <a href="{% url 'order_create' pTripId=trip.id %}">{% trans "PlaceOrder" %}</a>
                {% endif %}
                </li>
            {% endif %}
        {% endif %}
    </ul>
    {% if showTripOrder %}
        <p>{% trans "Orders" %} :</p> 
        {% for order in trip.orders %}
            {% include "order/abstract.html" with showOrderTrip=False %}
        {% empty %}
            {% trans "EmpyOrders" %}
        {% endfor %}
        {% if trip.user.id != request.user.id and trip.currentUserHasOrder == False %}
            <a href="{% url 'order_create' pTripId=trip.id %}">{% trans "PlaceOrder" %}</a> 
        {% endif %}
    {% endif %}

</div>