{% load staticfiles %}
{% load i18n %}

{% if user.is_authenticated %}
    <h3>{% trans "AddTrip" %}</h3>
    <form enctype="multipart/form-data" action="{% url 'trip_create' %}" method="POST">
        {% csrf_token %}
        {{ addTripForm.as_p }}
        {% trans "DefineTripItems" %}:
        <div class="tripItems">            
        </div>
        <button type="button" id="addTripItem">{% trans "AddTripItem" %}</button>
        <input type="submit" value="{% trans "Save" %}">
    </form>
    <script type="text/javascript">

        $(function( ){
                
            var tripItemCounter = 0;
                
            $('#addTripItem').on('click', function(event) {
                tripItemCounter = addTripItem( $('.tripItems'), '{{ addTripItemForm.prefix }}', tripItemCounter, `{{ addTripItemForm.as_p }}`);
                $('#id_TripForm-tripItemCounter').val(tripItemCounter);
            });

            $(document).on('click', '.tripItemDelete', function(event) {
                event.preventDefault();
                deleteTripItem( $(this));
            });  
            
        });
            
    </script>
{% endif %}