{% load staticfiles %}
{% load i18n %}

<div style="background-color: #ccffcc">

    {% if showOrderTrip %}
        <div>
            <a href="{% url 'trip_item' pTripId=order.trip.id %}">{{ order.trip }}</a>
            {% include "user/abstract.html" with user=order.trip.user only%}
        </div>
    {% endif %}
    {% if showOrderUser and order.user.id != request.user.id %}
        <div>
            {% include "user/abstract.html" with user=order.user only%}
        </div>
    {% endif %}
    <ul>
        <li>{{ order.amount }}</li>        
        {% if request.user.is_authenticated %}
            {% if order.user.id == request.user.id %}
                <li>{{ order.get_status_display }}</li>
                <li><a href="{% url 'order_delete' pOrderId=order.id %}">{% trans "CancelOrder" %}</a> | <a href="{% url 'order_update' pOrderId=order.id %}">{% trans "UpdateOrder" %}</a></li>                
            {% else  %}
                {% if order.trip.user.id == request.user.id %} 
                    <li>{{ order.get_status_display }}</li>
                    {% if order.status == order.PENDING %}
                        <li><a href="{% url 'order_accept' pOrderId=order.id %}">{% trans "AcceptOrder" %}</a> | <a href="{% url 'order_refuse' pOrderId=order.id %}">{% trans "RefuseOrder" %}</a></li>                  
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
</div>