{% load staticfiles %}
{% load i18n %}

<div style="background-color: #ccffcc">
    {% if showOrderTrip %}
        <div>
            <a href="{% url 'trip_item' pTripId=order.trip.id %}">{{ order.trip }} - {{ order.trip.user.first_name }}</a>
        </div>
    {% endif %}
    {% if showOrderUser and order.user.id != request.user.id %}
        <div>
            {% include "user/abstract.html" with user=order.user only%}
        </div>
    {% endif %}
    <ul>
        <li>{{ order.amount }}</li>
        <li>{{ order.comment|truncatechars:100 }} | <a href="{% url 'order_item' pOrderId=order.id %}">{% trans "OrderMore" %}</li></a>
        {% if request.user.is_authenticated %}
            {% if order.user.id == request.user.id %}
                <li><a href="{% url 'order_delete' pOrderId=order.id %}">{% trans "CancelOrder" %}</a> | <a href="{% url 'order_update' pOrderId=order.id %}">{% trans "UpdateOrder" %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>