{% load staticfiles %}
{% load i18n %}
<ul id="tripItem-{{ item.id }}">
    <li>{{ item.title }} | 
        {% if item.average_value %}
        {% trans "tripItemAVGValue" %}: {{ item.average_value }}
        {% endif %}
        {% if item.average_value and item.average_qty %}
        /
        {% endif %}
        {% if item.average_qty %}
        {% trans "tripItemAVGQty" %}: {{ item.average_qty }}
        {% endif %}
    </li>
    <li>{% trans "tripItemDescription" %}: {{ item.title }}</li>
    <li><a class="tripItemUpdate" href="">{% trans "Update" %}</a> | <a class="tripItemDelete" data-id="{{ item.id }}" href="">{% trans "Delete" %}</a></li>
</ul>
