{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "UserProfile" %}
{% endblock %}
{% block content %}

    <h2>{{ user.first_name }}</h2>
    <ul>
        <li>{% trans "email" %} : {{ user.email }}</li>
        <li>{% trans "first name" %} : {{ user.first_name }}</li>
        <li>{% trans "last name" %} : {{ user.last_name }}</li>
        <li>{% trans "date joined" %} : {{ user.date_joined }}</li>
        <li>{% trans "birth date" %} : {{ user.birth_date }}</li>
        <li>{% trans "location" %} : {{ user.location }}</li>
        <li>{% trans "bio" %} : {{ user.bio }}</li>
        <li>{% trans "avatar" %} : <img src="{{ user.avatar.url }}" alt=""></li>
        <li>{% trans "ratio" %} : {{ user.ratio }}</li>
    </ul>
    <a href="{% url 'user_update' pUserId=user.id %}">{% trans "Update profile" %}</a>

    <h2>{% trans "Trips" %}</h2>
    {% for trip in trips %}
        {% include "trip/abstract.html" %}
    {% endfor %}
    <h2>{% trans "Orders" %}</h2>
    <h3>{% trans "Placed" %}</h3>
    {% for order in placedOrders %}
        {% include "order/abstract.html" with showTripUser=True %}
    {% endfor %}
    <h3>{% trans "Requested" %}</h3>
    {% for trip in trips %}
        {% if trip.orders.all %}
            <a href="/trip/{{ trip.id }}">{{ trip }}</a>
            {% for order in trip.orders %}
                {% include "order/abstract.html" with showOrderTrip=False %}
            {% endfor %}
        {% endif %}
    {% endfor %}

{% endblock %}

