{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "WelcomeTitle" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% trans "LoggedInWelcomeMessage" %} <a href="/user/profile/{{ user.id }}">{{ user.first_name }}</a>! <a href="{% url 'logout' %}">{% trans "SignOut" %}</a>
    {% else %}            
        {% trans "WelcomeMessage" %}<a href="{% url 'login' %}">{% trans "SignIn" %}</a> or <a href="/user/new">{% trans "SignUp" %}</a>
    {% endif %}
    <br />
    {% trans "AvailableTrips" %} : 
    {% for trip in trips %}
    <hr>
    <h2><a href="/trip/{{ trip.id }}">{{ trip.date }}</a></h2>
    <ul>
        <li>{{ trip.user.first_name }}</li>
        <li>{% trans "Start" %}: {{ trip.city_start }}</li>
        <li>{% trans "Destination" %}: {{ trip.city_end }}</li>
        <li>{% trans "Description" %}: {{ trip.comment }}</li>
        {% if request.user.is_authenticated %}
            {% if trip.user.id == request.user.id %}
                <li><a href="/trip/delete/{{ trip.id }}">delete</a> | <a href="/trip/update/{{ trip.id }}">update</a></li>
            {% endif %}
        {% endif %}
    </ul>
    {% endfor %}
    <h3>{% trans "AddTrip" %}</h3>
    <form enctype="multipart/form-data" action="trip/new/" method="POST">
        {% csrf_token %}
        {{ addTripForm.as_p }}
        <input type="submit" value="{% trans "Save" %}">
    </form>
{% endblock %}