{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "WelcomeTitle" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% trans "LoggedInWelcomeMessage" %} <a href="/user/profile/{{ user.id }}">{{ user.first_name }}</a>! <a href="{% url 'logout' %}">{% trans "SignOut" %}</a>
    {% else %}            
        {% trans "WelcomeMessage" %}<a href="{% url 'login' %}">{% trans "SignIn" %}</a> or <a href="/user/new">{% trans "SignUp" %}</a>
    {% endif %}
    <br />
    {% trans "AvailableTrips" %} : 
    {% for trip in trips %}
        <hr>
        {% include "trip/abstract.html" %}
    {% endfor %}
    <h3>{% trans "AddTrip" %}</h3>
    <form enctype="multipart/form-data" action="trip/new/" method="POST">
        {% csrf_token %}
        {{ addTripForm.as_p }}
        <input type="submit" value="{% trans "Save" %}">
    </form>
{% endblock %}