{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "WelcomeTitle" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% trans "LoggedInWelcomeMessage" %} <a href="{% url 'user_item' pUserId=user.id %}">{{ user.first_name }}</a>! <a href="{% url 'logout' %}">{% trans "SignOut" %}</a>
    {% else %}            
        {% trans "WelcomeMessage" %}<a href="{% url 'login' %}">{% trans "SignIn" %}</a> or <a href="{% url 'user_create' %}">{% trans "SignUp" %}</a>
    {% endif %}
    <br />
    {% trans "AvailableTrips" %} : 
    {% for trip in trips %}
        <hr>
        {% include "trip/abstract.html" %}
    {% endfor %}
    {% include "trip/create_abstract.html" %}

    <script type="text/javascript">

        $( function(){

            $('.tripItemDelete').on('click', function(event) {
                event.preventDefault();
                deleteTripItem( $(this));
            });
        });
            
    </script>

{% endblock %}